# Игнорирование виртуального окружения
venv/
venv/*

# Игнорирование папки с фото
photos/
photos/*

# Игнорирование кеша Python
__pycache__/
**/__pycache__/

# Игнорирование файлов конфигурации с секретными данными
.env

